body{        
    overflow-x: hidden;
    margin: 0;
}
h1 {
    background-color: orange;
    padding: 30px;
    margin: 0;
    width: 100%;
    
}

img{
    margin: 10px;
}

ul{
    display: inline-flex;
    height: 40vh;
    padding: 0;
}