body{        
    overflow-x: hidden;
    margin: 0;
}
h1 {
    background-color: orange;
    padding: 30px;
    margin: 0;
    width: 100%;
    
}

ul{
    display: inline-flex;
    max-width: auto;
    max-height: auto;
    padding: 0;
}